# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml
.idea/

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Environment and Temporary
*.log
*.tmp
.env
.env.local
